    <section id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How to Apply</h2>
                    <h3 class="section-subheading text-muted">Follow the steps below to become a GSoC student in one of our projects.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                            	<!--
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                -->
                                <h4>Read 
                                    <br>the
                                    <br>Docs
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Before You Start</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    	Read all the <a href="https://developers.google.com/open-source/gsoc/resources/">official GSoC documentation</a> carefully. Read the FAQ. Familiarize yourself with the programme's timeline and do not miss deadlines.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Explore 
                                    <br>our
                                    <br>Repos
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Choose a Project</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    	Visit the <a href="http://www.gitlab.com/aossie">gitlab repositories</a> of our projects and find a project that you like. To show your skills, contribute solutions to GSoC Puzzles listed in the issue tracker of the project you chose. Some projects may also contain a "GoogleSummerOfCode.md" file with additional project specific GSoC instructions.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Write  
                                    <br>your
                                    <br>Proposal
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Expand an Idea</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    	You should choose one of the ideas suggested here and your proposal should expand that idea, giving details of how you plan to implement that idea. Use the provided <a href="https://goo.gl/8azpGo">proposal template</a>. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Talk
                                    <br>to
                                    <br>Us
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Use our Forum</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    	At any moment, if you have questions, just <a href="https://groups.google.com/forum/#!forum/aossie-gsoc-2017">ask us</a>.
                                    	Introduce yourself in our <a href="https://groups.google.com/forum/#!forum/aossie-gsoc-2017">forum</a>.
                                    	Write a draft of your proposal early, to allow us sufficient time to give you feedback. And remember: code more, communicate efficiently!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Apply!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>